
header {
	background-color: #BBBBBB;
	padding-bottom: 20px;
	padding-top: 20px;
}

.caixa {
	width: 940px;
	position: relative;
	margin-right: auto;
	margin-left: auto;
}

nav {
	position: absolute;
	top: 110px;
	right: 0;
}

nav li {
	display: inline;
	margin-left: 15px;
}

nav a {
	text-transform: uppercase;
	text-decoration: none;
	font-weight: bold;
	font-size: 22px;
	color: #000000;
}

.produtos {
	width: 940px;
	margin-right: auto;
	margin-left: auto;
	padding-top: 50px;
	padding-bottom: 50px;
}

.produtos li {
	display: inline-block;
	text-align: center;
	width: 30%;
	vertical-align: top;
	margin-right: 1.5%;
	margin-left: 1.5%;
	padding: 30px 20px;
	box-sizing: border-box;
}

.produtos h2 {
	font-size: 30px;
	font-weight: bold;
}

.produto-descricao {
	font-size: 18px;
}

.produto-preco {
	font-size: 22px;
	font-weight: bold;
	margin-top: 10px;
}